<h1>CREATE BOOK</h1>

<form action="/books/create" method="POST">
  <label>
    Title
    <input type="text" name="title" />
  </label>

  <label>
    Author
    <input type="text" name="author" />
  </label>

  <label>
    Edition
    <input type="number" name="edition" />
  </label>

  <button type="submit">Create Book!</button>
</form>